@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Noto Sans JP', 'Yu Gothic Medium', YuGothic, 'Yu Gothic', 'ヒラギノ角ゴ Pro W3',
    'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo, sans-serif;
  @apply text-black font-normal;
}

::selection {
  background: #1e8cbe77;
  color: #fff;
}

::-webkit-scrollbar {
  @apply w-1 h-1 md:w-2 md:h-2;
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-400 rounded-sm;
}
::-webkit-scrollbar-track {
  @apply bg-transparent;
}

article li {
  @apply ml-4;
}

article h1 {
  @apply text-gray-800 text-2xl sm:text-3xl text-center mb-12 md:mb-16;
}

article h2 {
  @apply block text-gray-800 text-2xl mb-3 md:mb-6 border-b-2 py-4 mt-8 border-gray-600;
}

article h3 {
  @apply text-gray-700 text-xl mb-3 md:mb-6 mt-8 border-l-8 border-gray-800 pl-4;
}

article p {
  @apply text-gray-700 text-base mb-6 md:mb-8;
}

article a {
  @apply text-teal-700;
}
